<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content=" Follow CybOX development on GitHub" />

    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}stylesheets/stylesheet.css">

    <title>{{page.title}}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/CybOXProject">View on GitHub</a>

          <h1 id="project_title">CybOX Documentation</h1>

        </header>
    </div>
