<!DOCTYPE html>
<html>
  <body>

    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}stylesheets/stylesheet.css">

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/CybOXProject">View on GitHub</a>

          <h2 id="project_title">CybOX Documentation </h2>

    
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content=" Follow CybOX development on GitHub" />
    <title>{{page.title}}</title>

    <a href="{{site.baseurl}}">Home</a>
    <a href="{{site.baseurl}}quickstart">Install</a>
    <a href="{{site.baseurl}}quickstart/usage">Use</a>
    
        </header>
    </div>
