<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    {% include multisitenav.html %}
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="https://cyboxproject.github.io" class="pull-left"><img src="/images/logo.png" style="max-height: 100px; max-width: 120px; margin-top: 3px;"></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/getting-started">Getting Started</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="/documentation/background">Background</a></li>
            <li role="presentation"><a href="/documentation/creating-objects">Creating Objects</a></li>
            <li role="presentation"><a href="/documentation/dns-resolution">DNS Resolution</a></li>
            <li role="presentation"><a href="/documentation/objects">Current Objects</a></li>
			<li role="presentation"><a href="/documentation/object-relationships">Object Relationships</a></li>
            <li role="presentation"><a href="/documentation/suggested-practices">Suggested Practices</a></li>
            <li role="presentation"><a href="/documentation/tools">Tools</a></li>
          </ul>
        </li>
        
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </div>
</div>
